<div style="text-align: center; width: 100%;">

    <!-- Page Title -->
    <h1 class="application-header">Get My Path</h1>


    <div *ngIf="destinationListFetchStatus != FETCH_FAILURE" style="display: flex; padding-left: 3%; padding-right: 3%;">
        <div>
            <!-- Location -->
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Location</mat-label>
                    <b><input matInput disabled [value]="destinationDetails?.location?.locationName"></b>
                </mat-form-field>
            </div>


            <!-- Source -->
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Source</mat-label>
                    <mat-select required [formControl]="fcSourceDropDown" (selectionChange)="fetchRouteMap('A');">
                        <mat-option *ngFor="let position of allPositions" [value]=position.positionId>{{position.positionName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fcSourceDropDown.errors?.required">
                        Source is required
                    </mat-error>
                    <mat-error *ngIf="fcSourceDropDown.errors?.sourceAndDestinationAreSame">
                        Source and Destination are same!
                    </mat-error>
                </mat-form-field>
            </div>

            
            <!-- Destination drop down -->
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Destination</mat-label>
                    <mat-select required [formControl]="fcDestinationDropDown" (selectionChange)="fetchRouteMap('A');">
                        <mat-option [value]=null></mat-option>
                        <mat-option *ngFor="let position of allPositions" [value]=position.positionId>{{position.positionName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fcDestinationDropDown.errors?.required">
                        Destination is required
                    </mat-error>
                    <mat-error *ngIf="fcDestinationDropDown.errors?.sourceAndDestinationAreSame">
                        Source and Destination are same!
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <span class="fill-remaining-space"></span>

        <div *ngIf="destinationDetails?.amenitiesList != null" style="padding-top: 5px;">
            <div *ngFor="let amenity of destinationDetails?.amenitiesList">
                <div style="margin-bottom: 10px; float: right;">
                    <button mat-button mat-raised-button (click)="goToAmenity(amenity);" style="width: 130px;">{{amenity.positionName}}</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="destinationListFetchStatus === FETCH_FAILURE">
        Location details not found.
    </div>


    <div>
        <ng-container *ngIf="routeMapFetchAllStatus === FETCH_SUCCESS; else checkIfFetchFailed">
            <div style="padding-top: 20px; display: flex; justify-content: center;">
                <span>Choose a path</span>
            </div>
            <div style="padding-top: 10px; padding-bottom: 30px; display: flex; justify-content: center;">
                <div><button style="color: #50C878; background-color: #50C878; width: 100px; height: 40px; border-radius: 10px;" (click)="fetchRouteMap('S');"></button></div>
                <div style="padding-left: 20px;"><button style="color: #ef3038; background-color: #ef3038; width: 100px; height: 40px; border-radius: 10px;" (click)="fetchRouteMap('L');"></button></div>
            </div>
            <pinch-zoom>
                <img [src]='routeMap' />
            </pinch-zoom>
        </ng-container>
        <ng-template #checkIfFetchFailed>
            <ng-container *ngIf="routeMapFetchAllStatus === FETCH_FAILURE;">
                Path Not Found
            </ng-container>
        </ng-template>
    </div>


    <div>
        <ng-container *ngIf="routeMapFetchStatus === FETCH_SUCCESS; else checkIfFetchFailed">
            <pinch-zoom>
                <img [src]='routeMap' />
            </pinch-zoom>
        </ng-container>
        <ng-template #checkIfFetchFailed>
            <ng-container *ngIf="routeMapFetchStatus === FETCH_FAILURE;">
                Path Not Found
            </ng-container>
        </ng-template>
    </div>

</div>