<div style="text-align: center; font-family: Arial, Helvetica, sans-serif; padding-bottom: 100px;">

    <!-- Page Title -->
    <h1 class="application-header">Get My Path</h1>

    <h2 style="color:#3254A0; font-size: 30px; font-weight: bold;">Admin Dashboard</h2>

    <div style="padding-top: 30px;">
        <button mat-button mat-raised-button routerLink="/storelocation">Store a Location</button>
    </div>

    <div style="padding-top: 50px;">
        <button mat-button mat-raised-button routerLink="/generateQrCode">Generate QR Codes</button>
    </div>

</div>